.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: white;
    width: 500px;
    height: 550px;
    border-radius: 50px;
    color: #053c2c;
}

.nameBox,
.passwordBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 90px;
    width: 80%;
    align-items: center;
}

.error-name-msg,
.error-password-msg {
    color: red;
    height: 10px;
}

.name-input,
.password-input {
    height: 25px;
    width: 80%;
}

.login-button,
.login-button:disabled:hover {
    font-size: 26px;
    padding: 7px;
    background-color: #87bc6c;
    border: 1px solid #fac3d3;
    color: #fac3d3;
    border-radius: 10px;
    cursor: pointer;
}

.login-button:disabled,
.login-button:disabled:hover {
    cursor: default;
    opacity: 0.8;
}

.login-button:hover {
    background-color: #fac3d3;
    border: 1px solid #87bc6c;
    color: #87bc6c;
}

.name-info,
.password-info {
    width: 80%;
}

@media (max-width: 650px) {
    .login-form {
        padding: 15px;
        gap: 50px;
        width: 340px;
        height: 550px;
        border-radius: 50px;
    }
}
