.footer {
    height: 60px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid #053c2c;
    background-color: rgb(89%, 95%, 93%, 0.8);
    color: #053c2c;
}

.footer_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 80px;
}

.author-git {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #053c2c;
}
.copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
.copyright a {
    color: #444;
}
.copyright a:hover {
    color: #555;
}
.copyright:before {
    content: '©';
}
.rss-logo {
    width: 80px;
    height: 30px;
    background: url(../../../components/imgs/rs_school_js.svg);
    background-repeat: no-repeat;
}
