.chat-container {
    height: 80vh;
    width: 70vw;
    background-color: rgb(98%, 76%, 83%, 0.8);
    border-radius: 15px;
    display: flex;
    border: 1px solid #87bc6c;
}

.users-container {
    padding: 10px;
    width: 40%;
    border-right: 2px solid #87bc6c;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.dialog-container {
    width: 60%;
}

.search-user-input {
    width: 90%;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    background-color: #e4f3ec;
}

.users-list-wrapper {
    list-style-type: none;
    overflow-y: auto;
    width: 90%;
    height: 90%;
    padding-right: 10px;
}

.users-list-wrapper::-webkit-scrollbar {
    width: 5px;
}

.users-list-wrapper::-webkit-scrollbar-track {
    background-color: #e4f3ec;
    border-radius: 20px;
}

.users-list-wrapper::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #f4a7bd;
}

.user-li-wrapper {
    height: 20px;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #87bc6c;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
}

.new-msgs-info {
    border-radius: 20px;
    min-width: 30px;
    padding: 0 5px;
    border: 1px solid #053c2c;
    background-color: #e4f3ec;
    color: #053c2c;
    text-align: center;
    display: none;
}

.show {
    display: block;
}

.active-user::before {
    content: '🍉';
    position: absolute;
    scale: 1;
    margin-left: -30px;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chat-header {
    font-size: 26px;
    width: 90%;
    border-bottom: 3px solid #87bc6c;
    padding: 5px;
    text-align: center;
}

.messages-container {
    height: 80%;
    overflow-y: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-right: 8px;
    margin-left: 10px;
    text-align: center;
}

.messages-container::-webkit-scrollbar {
    width: 5px;
}

.messages-container::-webkit-scrollbar-track {
    background-color: #e4f3ec;
    border-radius: 20px;
}

.messages-container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #f4a7bd;
}

.write-container {
    width: 95%;
    margin: 5px;
}

.send-button {
    border: 0px;
    width: 45px;
    height: 45px;
    mask-image: url(../../../components/imgs/send-button.svg);
    background-color: #87bc6c;
    cursor: pointer;
}

.message-form {
    display: flex;
    flex-wrap: nowrap;
    gap: 2%;
    width: 100%;
}

.message-text {
    width: 85%;
    max-height: 100px;
    resize: none;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 15px;
    padding: 5px;
    background-color: #e4f3ec;
}

.message-wrapper {
    display: flex;
    max-width: 50%;
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 5px;
    word-break: break-all;
    gap: 5px;
    flex-direction: column;
    text-align: initial;
}

.companion-msg {
    background-color: #87bc6c;
    align-self: flex-start;
}

.own-msg {
    background-color: #b9db95;
    align-self: flex-end;
}

.message-info-wrapper {
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px;
    justify-content: space-between;
    gap: 15px;
}

.message-sender {
    text-decoration: underline;
}

.message-status {
    text-align: end;
}

.separator {
    font-size: 22px;
    position: relative;
    text-align: center;
    color: #87bc6c;
    font-weight: bolder;
}

.separator:before,
.separator:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 2px;
    background-color: #87bc6c;
    position: relative;
}
.separator:before {
    margin-left: -100%;
    left: -10px;
}
.separator:after {
    margin-right: -100%;
    right: -10px;
}
